#logo {
  width: 60%;
  max-width: 380px;
  margin: calc(5% + 50px) auto;
  display: block;
  fill: none;
  stroke: none;
  overflow: visible;
}
#logo path {
  stroke: #d2d6ee;
  stroke-linecap: round;
  stroke-width: 3.5;
  filter: url(#dropShadow);
  overflow: visible;
}
#outer-top,
#outer-bottom {
  animation: blink2 linear infinite 3s;
}
#inner-top,
#inner-bottom {
  animation: blink1 linear infinite 3s;
}
#Digital {
  path {
    animation: error linear infinite 10s;
  }
}

@keyframes blink1 {
  0% {
    stroke: #17253b;
    filter: url(#dropShadowOff);
  }
  20% {
    stroke: #17253b;
    filter: url(#dropShadowOff);
  }
  21% {
    stroke: #d2d6ee;
    filter: url(#dropShadow);
  }
  100% {
    stroke: #d2d6ee;
    filter: url(#dropShadow);
  }
}

@keyframes blink2 {
  0% {
    stroke: #17253b;
    filter: url(#dropShadowOff);
  }
  40% {
    stroke: #17253b;
    filter: url(#dropShadowOff);
  }
  41% {
    stroke: #d2d6ee;
    filter: url(#dropShadow);
  }
  100% {
    stroke: #d2d6ee;
    filter: url(#dropShadow);
  }
}

@keyframes error {
  96% {
    stroke: #d2d6ee;
    filter: url(#dropShadow);
  }
  97% {
    stroke: #17253b;
    filter: url(#dropShadowOff);
  }
  98% {
    stroke: #d2d6ee;
    filter: url(#dropShadow);
  }
  99% {
    stroke: #17253b;
    filter: url(#dropShadowOff);
  }
  100% {
    stroke: #d2d6ee;
    filter: url(#dropShadow);
  }
}
