#logo {
  width: 60%;
  max-width: 380px;
  margin: calc(5% + 50px) auto;
  display: block;
  fill: none;
  stroke: none;
  overflow: visible;
}
#logo path {
  stroke: #d2d6ee;
  stroke-linecap: round;
  stroke-width: 3.5;
  filter: url(#dropShadow);
  overflow: visible;
}
#logo text {
  font-family: Satisfy-Regular, Satisfy;
  font-weight: normal;
  font-size: 48px;
  fill: #d2d6ee;
  text-shadow: 0 0 300px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 0.6);
  overflow: visible;
}
#outer-top,
#outer-bottom {
  animation: blink2 linear infinite 3s;
}
#inner-top,
#inner-bottom {
  animation: blink1 linear infinite 3s;
}
#Digital {
  animation: error linear infinite 10s;
}

@keyframes blink1 {
  0% {
    stroke: #17253b;
    filter: url(#dropShadowOff);
  }
  20% {
    stroke: #17253b;
    filter: url(#dropShadowOff);
  }
  21% {
    stroke: #d2d6ee;
    filter: url(#dropShadow);
  }
  100% {
    stroke: #d2d6ee;
    filter: url(#dropShadow);
  }
}

@keyframes blink2 {
  0% {
    stroke: #17253b;
    filter: url(#dropShadowOff);
  }
  40% {
    stroke: #17253b;
    filter: url(#dropShadowOff);
  }
  41% {
    stroke: #d2d6ee;
    filter: url(#dropShadow);
  }
  100% {
    stroke: #d2d6ee;
    filter: url(#dropShadow);
  }
}

@keyframes error {
  96% {
    fill: inherit;
    text-shadow: inherit;
  }
  97% {
    fill: #17253b;
    text-shadow: 0 0 5px #17253b;
  }
  98% {
    fill: inherit;
    text-shadow: inherit;
  }
  99% {
    fill: #17253b;
    text-shadow: 0 0 5px #17253b;
  }
  100% {
    fill: inherit;
    text-shadow: inherit;
  }
}
