* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 16px;
  font-family: 'Lora', helvetica, sans-serif;
  height: 100%; }

/* 16px @ 480px increasing to 26px @ 1680px */
@media (min-width: 480px) {
  html {
    font-size: calc(1rem + ((1vw - 4.8px) * 0.8333));
    /* Where: * 0.8333 = 100 * font_Size_Difference / viewport_Width_Difference */ } }

/* Prevent font scaling beyond this breakpoint */
@media (min-width: 1680px) {
  html {
    font-size: 26px; } }

p {
  line-height: 1.5em; }

h1 {
  color: #345678; }

a {
  color: #345678; }
  a:hover {
    text-decoration: none; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  height: 100%; }

section {
  border-top: 1px solid #ccc; }

.header {
  background: #0a111d url(img/brick.jpg) center 0 no-repeat; }

.content {
  -webkit-box-shadow: 0 0 300px #000;
          box-shadow: 0 0 300px #000;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
  .content__inner {
    max-width: 38rem;
    padding: 3rem;
    margin: 0 auto; }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .header {
    background-image: url(img/brick@2x.jpg);
    background-size: 1620px; } }

@media (min-width: 980px) {
  body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .header {
    overflow: hidden;
    width: 40%;
    height: 100%;
    padding-top: 100px; }
  .content {
    overflow: scroll;
    width: 60%;
    height: 100%; }
    .content__inner {
      max-width: 32rem; } }

#logo {
  width: 60%;
  max-width: 380px;
  margin: calc(5% + 50px) auto;
  display: block;
  fill: none;
  stroke: none;
  overflow: visible; }

#logo path {
  stroke: #d2d6ee;
  stroke-linecap: round;
  stroke-width: 3.5;
  -webkit-filter: url(#dropShadow);
          filter: url(#dropShadow);
  overflow: visible; }

#logo text {
  font-family: Satisfy-Regular, Satisfy;
  font-weight: normal;
  font-size: 48px;
  fill: #d2d6ee;
  text-shadow: 0 0 300px white, 0 0 20px rgba(255, 255, 255, 0.6);
  overflow: visible; }

#outer-top,
#outer-bottom {
  -webkit-animation: blink2 linear infinite 3s;
          animation: blink2 linear infinite 3s; }

#inner-top,
#inner-bottom {
  -webkit-animation: blink1 linear infinite 3s;
          animation: blink1 linear infinite 3s; }

#Digital {
  -webkit-animation: error linear infinite 10s;
          animation: error linear infinite 10s; }

@-webkit-keyframes blink1 {
  0% {
    stroke: #17253b;
    -webkit-filter: url(#dropShadowOff);
            filter: url(#dropShadowOff); }
  20% {
    stroke: #17253b;
    -webkit-filter: url(#dropShadowOff);
            filter: url(#dropShadowOff); }
  21% {
    stroke: #d2d6ee;
    -webkit-filter: url(#dropShadow);
            filter: url(#dropShadow); }
  100% {
    stroke: #d2d6ee;
    -webkit-filter: url(#dropShadow);
            filter: url(#dropShadow); } }

@keyframes blink1 {
  0% {
    stroke: #17253b;
    -webkit-filter: url(#dropShadowOff);
            filter: url(#dropShadowOff); }
  20% {
    stroke: #17253b;
    -webkit-filter: url(#dropShadowOff);
            filter: url(#dropShadowOff); }
  21% {
    stroke: #d2d6ee;
    -webkit-filter: url(#dropShadow);
            filter: url(#dropShadow); }
  100% {
    stroke: #d2d6ee;
    -webkit-filter: url(#dropShadow);
            filter: url(#dropShadow); } }

@-webkit-keyframes blink2 {
  0% {
    stroke: #17253b;
    -webkit-filter: url(#dropShadowOff);
            filter: url(#dropShadowOff); }
  40% {
    stroke: #17253b;
    -webkit-filter: url(#dropShadowOff);
            filter: url(#dropShadowOff); }
  41% {
    stroke: #d2d6ee;
    -webkit-filter: url(#dropShadow);
            filter: url(#dropShadow); }
  100% {
    stroke: #d2d6ee;
    -webkit-filter: url(#dropShadow);
            filter: url(#dropShadow); } }

@keyframes blink2 {
  0% {
    stroke: #17253b;
    -webkit-filter: url(#dropShadowOff);
            filter: url(#dropShadowOff); }
  40% {
    stroke: #17253b;
    -webkit-filter: url(#dropShadowOff);
            filter: url(#dropShadowOff); }
  41% {
    stroke: #d2d6ee;
    -webkit-filter: url(#dropShadow);
            filter: url(#dropShadow); }
  100% {
    stroke: #d2d6ee;
    -webkit-filter: url(#dropShadow);
            filter: url(#dropShadow); } }

@-webkit-keyframes error {
  96% {
    fill: inherit;
    text-shadow: inherit; }
  97% {
    fill: #17253b;
    text-shadow: 0 0 5px #17253b; }
  98% {
    fill: inherit;
    text-shadow: inherit; }
  99% {
    fill: #17253b;
    text-shadow: 0 0 5px #17253b; }
  100% {
    fill: inherit;
    text-shadow: inherit; } }

@keyframes error {
  96% {
    fill: inherit;
    text-shadow: inherit; }
  97% {
    fill: #17253b;
    text-shadow: 0 0 5px #17253b; }
  98% {
    fill: inherit;
    text-shadow: inherit; }
  99% {
    fill: #17253b;
    text-shadow: 0 0 5px #17253b; }
  100% {
    fill: inherit;
    text-shadow: inherit; } }
