* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  color: #444;
  font-size: 16px;
  font-family: 'Lato', helvetica, sans-serif;
  height: 100%; }

p {
  font-size: 1.125rem;
  line-height: 1.667em;
  margin: 0 0 1rem; }

.heading1 {
  margin: 0 0 2rem;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-weight: 400; }

.tagline {
  display: block;
  margin: 0 0 0.5rem;
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 1.5px;
  text-transform: uppercase; }

.dateline {
  display: inline-block;
  margin: 0 0 2rem;
  background: rgba(255, 255, 0, 0.25);
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: 400; }

a {
  color: #345678; }
  a:hover {
    text-decoration: none; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  height: 100%; }

.header {
  background: #0a111d url(img/brick.jpg) center 0 no-repeat; }

.content {
  -webkit-box-shadow: 0 0 300px #000;
          box-shadow: 0 0 300px #000;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 3rem; }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .header {
    background-image: url(img/brick@2x.jpg);
    background-size: 1620px; } }

@media (min-width: 980px) {
  body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .header {
    overflow: hidden;
    width: 40%;
    height: 100%;
    padding-top: 100px; }
  .content {
    overflow: scroll;
    width: 60%;
    height: 100%; } }

.section__inner {
  max-width: 48rem;
  padding: 3rem;
  margin: 0 auto; }

.section--grey {
  background: #f2f2f2; }

.legal {
  list-style: none; }
  .legal li {
    display: inline-block;
    margin-right: 8px; }
  .legal a {
    color: #aaa;
    font-size: 0.75rem;
    text-decoration: none; }
    .legal a:hover, .legal a:focus {
      text-decoration: underline; }

.mapslink {
  background: url(img/icon_maps.svg) 0 center no-repeat;
  padding: 0 0 0 28px;
  font-size: 0.875rem; }

#logo {
  width: 60%;
  max-width: 380px;
  margin: calc(5% + 50px) auto;
  display: block;
  fill: none;
  stroke: none;
  overflow: visible; }

#logo path {
  stroke: #d2d6ee;
  stroke-linecap: round;
  stroke-width: 3.5;
  -webkit-filter: url(#dropShadow);
          filter: url(#dropShadow);
  overflow: visible; }

#outer-top,
#outer-bottom {
  -webkit-animation: blink2 linear infinite 3s;
          animation: blink2 linear infinite 3s; }

#inner-top,
#inner-bottom {
  -webkit-animation: blink1 linear infinite 3s;
          animation: blink1 linear infinite 3s; }

#Digital path {
  -webkit-animation: error linear infinite 10s;
          animation: error linear infinite 10s; }

@-webkit-keyframes blink1 {
  0% {
    stroke: #17253b;
    -webkit-filter: url(#dropShadowOff);
            filter: url(#dropShadowOff); }
  20% {
    stroke: #17253b;
    -webkit-filter: url(#dropShadowOff);
            filter: url(#dropShadowOff); }
  21% {
    stroke: #d2d6ee;
    -webkit-filter: url(#dropShadow);
            filter: url(#dropShadow); }
  100% {
    stroke: #d2d6ee;
    -webkit-filter: url(#dropShadow);
            filter: url(#dropShadow); } }

@keyframes blink1 {
  0% {
    stroke: #17253b;
    -webkit-filter: url(#dropShadowOff);
            filter: url(#dropShadowOff); }
  20% {
    stroke: #17253b;
    -webkit-filter: url(#dropShadowOff);
            filter: url(#dropShadowOff); }
  21% {
    stroke: #d2d6ee;
    -webkit-filter: url(#dropShadow);
            filter: url(#dropShadow); }
  100% {
    stroke: #d2d6ee;
    -webkit-filter: url(#dropShadow);
            filter: url(#dropShadow); } }

@-webkit-keyframes blink2 {
  0% {
    stroke: #17253b;
    -webkit-filter: url(#dropShadowOff);
            filter: url(#dropShadowOff); }
  40% {
    stroke: #17253b;
    -webkit-filter: url(#dropShadowOff);
            filter: url(#dropShadowOff); }
  41% {
    stroke: #d2d6ee;
    -webkit-filter: url(#dropShadow);
            filter: url(#dropShadow); }
  100% {
    stroke: #d2d6ee;
    -webkit-filter: url(#dropShadow);
            filter: url(#dropShadow); } }

@keyframes blink2 {
  0% {
    stroke: #17253b;
    -webkit-filter: url(#dropShadowOff);
            filter: url(#dropShadowOff); }
  40% {
    stroke: #17253b;
    -webkit-filter: url(#dropShadowOff);
            filter: url(#dropShadowOff); }
  41% {
    stroke: #d2d6ee;
    -webkit-filter: url(#dropShadow);
            filter: url(#dropShadow); }
  100% {
    stroke: #d2d6ee;
    -webkit-filter: url(#dropShadow);
            filter: url(#dropShadow); } }

@-webkit-keyframes error {
  96% {
    stroke: #d2d6ee;
    -webkit-filter: url(#dropShadow);
            filter: url(#dropShadow); }
  97% {
    stroke: #17253b;
    -webkit-filter: url(#dropShadowOff);
            filter: url(#dropShadowOff); }
  98% {
    stroke: #d2d6ee;
    -webkit-filter: url(#dropShadow);
            filter: url(#dropShadow); }
  99% {
    stroke: #17253b;
    -webkit-filter: url(#dropShadowOff);
            filter: url(#dropShadowOff); }
  100% {
    stroke: #d2d6ee;
    -webkit-filter: url(#dropShadow);
            filter: url(#dropShadow); } }

@keyframes error {
  96% {
    stroke: #d2d6ee;
    -webkit-filter: url(#dropShadow);
            filter: url(#dropShadow); }
  97% {
    stroke: #17253b;
    -webkit-filter: url(#dropShadowOff);
            filter: url(#dropShadowOff); }
  98% {
    stroke: #d2d6ee;
    -webkit-filter: url(#dropShadow);
            filter: url(#dropShadow); }
  99% {
    stroke: #17253b;
    -webkit-filter: url(#dropShadowOff);
            filter: url(#dropShadowOff); }
  100% {
    stroke: #d2d6ee;
    -webkit-filter: url(#dropShadow);
            filter: url(#dropShadow); } }

.newsletter {
  max-width: 28rem;
  position: relative;
  height: 40px;
  margin: 0 0 2rem; }
  .newsletter__input, .newsletter__button {
    position: absolute;
    height: 100%;
    font-family: inherit;
    font-size: inherit;
    border-radius: 5px; }
    .newsletter__input:focus, .newsletter__button:focus {
      outline: none; }
  .newsletter__input {
    width: 100%;
    border: 1px #345678 solid;
    text-indent: 0.8889rem;
    padding-right: 7.111rem; }
    .newsletter__input::-webkit-input-placeholder {
      color: #777; }
    .newsletter__input:-ms-input-placeholder {
      color: #777; }
    .newsletter__input::-ms-input-placeholder {
      color: #777; }
    .newsletter__input::placeholder {
      color: #777; }
  .newsletter__button {
    right: 0;
    border: none;
    background: #345678;
    color: #fff;
    cursor: pointer;
    width: 7.111rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 0.7778rem; }
