* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: 'Lora', helvetica, sans-serif;
  height: 100%;
}

/* 16px @ 480px increasing to 26px @ 1680px */
@media (min-width: 480px) {
  html {
    font-size: calc(1rem + ((1vw - 4.8px) * 0.8333));
    /* Where: * 0.8333 = 100 * font_Size_Difference / viewport_Width_Difference */
  }
}
/* Prevent font scaling beyond this breakpoint */
@media (min-width: 1680px) {
  html {
    font-size: 26px;
  }
}

p {
  line-height: 1.5em;
}

h1 {
  color: #345678;
}

a {
  color: #345678;
  &:hover {
    text-decoration: none;
  }
}

body {
  display: flex;
  flex-direction: column;

  margin: 0;
  height: 100%;
}

.header {
  background: #0a111d url(img/brick.jpg) center 0 no-repeat;
}

.content {
  box-shadow: 0 0 300px #000;
  flex-grow: 1;

  &__inner {
    max-width: 38rem;
    padding: 3rem;
    margin: 0 auto;
  }
}

@media (min-resolution: 2dppx) {
  .header {
    background-image: url(img/brick@2x.jpg);
    background-size: 1620px;
  }
}
@media (min-width: 980px) {
  body {
    flex-direction: row;
  }
  .header {
    overflow: hidden;

    width: 40%;
    height: 100%;
    padding-top: 100px;
  }
  .content {
    overflow: scroll;

    width: 60%;
    height: 100%;
    &__inner {
      max-width: 32rem;
    }
  }
}

@import 'components/logo';
