@import 'variables';
* {
  box-sizing: border-box;
}
html {
  color: #444;
  font-size: 16px;
  font-family: 'Lato', helvetica, sans-serif;
  height: 100%;
}

p {
  font-size: 1.125rem;
  line-height: 1.667em;
  margin: 0 0 1rem;
}

.heading1 {
  margin: 0 0 2rem;

  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-weight: 400;
}

.tagline {
  display: block;
  margin: 0 0 0.5rem;

  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.dateline {
  display: inline-block;
  margin: 0 0 2rem;

  background: rgba(255, 255, 0, 0.25);

  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: 400;
}

a {
  color: #345678;
  &:hover {
    text-decoration: none;
  }
}

body {
  display: flex;
  flex-direction: column;

  margin: 0;
  height: 100%;
}

.header {
  background: #0a111d url(img/brick.jpg) center 0 no-repeat;
}

.content {
  box-shadow: 0 0 300px #000;
  flex-grow: 1;
  padding-top: 3rem;
}

@media (min-resolution: 2dppx) {
  .header {
    background-image: url(img/brick@2x.jpg);
    background-size: 1620px;
  }
}
@media (min-width: 980px) {
  body {
    flex-direction: row;
  }
  .header {
    overflow: hidden;

    width: 40%;
    height: 100%;
    padding-top: 100px;
  }
  .content {
    overflow: scroll;

    width: 60%;
    height: 100%;
  }
}

.section {
  &__inner {
    max-width: 48rem;
    padding: 3rem;
    margin: 0 auto;
  }

  &--grey {
    background: #f2f2f2;
  }
}

.legal {
  list-style: none;

  li {
    display: inline-block;
    margin-right: 8px;
  }

  a {
    color: #aaa;
    font-size: 0.75rem;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.mapslink {
  background: url(img/icon_maps.svg) 0 center no-repeat;
  padding: 0 0 0 28px;
  font-size: 0.875rem;
}

@import 'components/logo';
@import 'components/forms';
